<h1>{{title}}</h1>

<div class="todo-input">
    <input 
        type="text" 
        placeholder="Enter a new to-do item" 
        [(ngModel)]="newTodo" 
        (keyup.enter)="addTodo()" >
        <button (click)="addTodo()">Add</button>
</div>

<div *ngIf="todos.length === 0" class="empty">
    <p>No todos yet! Add one above.</p>
</div>


<ul *ngIf="todos.length > 0">
  <li *ngFor="let todo of todos" [class.completed]="todo.completed">
    <input 
      type="checkbox" 
      [checked]="todo.completed"
      (change)="toggleComplete(todo)">
    <span>{{ todo.text }}</span>
    <button (click)="deleteTodo(todo.id)">Delete</button>
  </li>
</ul>